.topHeaderWrapper{
  float: right;
  height: 100%;
}

.logoutBtn{
  padding: 0px 20px;
  transition: all .2s;
  color: #bcc6dd;
}

.logoutBtn:hover{
  color: #2F80ED;
}

.mgtBlock{
  margin-left: 10px;
  margin-right: 10px;
}

.iconWrapper{
  padding: 10px 20px;
  box-sizing: border-box;
  height: 54px;
  line-height: 54px;
  transition: all .2s;
}

.iconWrapper:hover{
  background-color: #2F80ED;
}

.kd_btn{
  margin-right: 20px;
}