.cascader-options-wrapper{
    margin-top: 20px;
}

.cascader-wrapper{width: 200px}

.tree-wrapper{
    .tree-item{
        margin-top: 20px;
        .divider{
            position: relative;
            margin: 0 20px;
            &:before{
                position: absolute;
                content: '';
                width: 1px;
                height: 70%;
                background-color: #bebebe;
                left: 0px;
                top: 15%;
            }
        }
        .tree-node{
            padding-left: 20px;
        }
    }
}